<a href="https://colab.research.google.com/github/Hafsa26/Natural-Language-Processing-/blob/main_nlp/Copy_of_NLP_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Name: Hafsa Farooq') 
print('Panther ID: 002526044')
print("URL : https://colab.research.google.com/drive/1t-CQwHRRXmlqyduYuqD3B_JsVSliO93m#scrollTo=XMMzco2SEdFS") 
print('Github Link: https://github.com/Hafsa26/Natural-Language-Processing-.git')

Name: Hafsa Farooq
Panther ID: 002526044
URL : https://colab.research.google.com/drive/1t-CQwHRRXmlqyduYuqD3B_JsVSliO93m#scrollTo=XMMzco2SEdFS
Github Link: https://github.com/Hafsa26/Natural-Language-Processing-.git

In [ ]:
# 1. Write a function that finds the factorial of a number. Test the function finding thefactorial of the number 10
def fact(n): 
      if (n == 1 or n == 0):
        return 1 
      else: 
       return n * fact(n-1)

# Gettting an input number from the user 
n = int(input("Enter a number for factorial: "))

print('The factorial of given number is: ', fact(n))

Enter a number for factorial: 10
The factorial of given number is:  3628800

In [ ]:
# 2.  Write a function that determines if a number is a prime number. Test the function withthe following numbers: 3 and 1251
n = int(input("Enter a number for checking prime: "))
print("Checking if prime...")

def check_prime(n): 
  if(n >= 2):
    for x in range(2,n):
        if (n%x == 0):  
          return "Not a Prime number"
  return "Prime number"
check_prime(n)

Enter a number for checking prime: 3
Checking if prime...

'Prime number'

In [ ]:
n1 = int(input("Enter a number for checking prime: "))
print("Checking if prime...")

def check_prime(n1): 
  if(n1 >= 2):
    for x in range(2,n1):
        if (n1%x == 0):  
          return "Not a Prime number"
  return "Prime number"
check_prime(n1)

Enter a number for checking prime: 1251
Checking if prime...

'Not a Prime number'

In [ ]:
# 3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix
X = [[1,0,0],[0,1,0], [0,0,1]]

def transpose(X):
  T = [[row[i] for row in X] for i in range(len(X))]
  print(T)
transpose(X)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#4 Using Pandas and Numpy, write a piece of code to combine two series into one. 
np.random.seed(5)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

In [ ]:
final = pd.concat([series1, series2],axis = 1)
print(final)

      0   1
0   0.0   0
1   1.0   1
2   2.0   2
3   3.0   3
4   4.0   4
5   5.0   5
6   6.0   6
7   7.0   7
8   8.0   8
9   9.0   9
10  NaN  10
11  NaN  11
12  NaN  12
13  NaN  13
14  NaN  14
15  NaN  15
16  NaN  16
17  NaN  17
18  NaN  18
19  NaN  19
20  NaN  20
21  NaN  21
22  NaN  22
23  NaN  23
24  NaN  24
25  NaN  25

In [ ]:
n1 = series1.to_numpy
print(n1)

<bound method IndexOpsMixin.to_numpy of 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64>

In [ ]:
n2 = series2.to_numpy
print(n2)

<bound method IndexOpsMixin.to_numpy of 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64>

In [ ]:
numc= np.concatenate((n1,n2), axis = None)
print(numc)

[<bound method IndexOpsMixin.to_numpy of 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64>
 <bound method IndexOpsMixin.to_numpy of 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64>]

In [ ]:
 #5.  Using pandas, write a piece of code to convert the first character of each element in aseries to uppercase
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
series.str.capitalize()

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

In [ ]:
#Bonus: Using pandas, write a piece of code to get the frequency of unique values in theentire dataframe (not using built in functions).
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(dataFrame)

   a  b  c  d
0  8  5  6  5
1  9  8  5  5
2  9  6  5  8
3  9  8  6  9
4  7  6  6  7

In [ ]:
print('Unique values in the dataframe:', dataFrame.apply(pd.Series.nunique))  
print('Unique values in the a column of the dataframe:', dataFrame.a.value_counts(dropna=False)) 
print('Unique values in the b column of the dataframe:', dataFrame.b.value_counts(dropna=False)) 
print('Unique values in the c column of the dataframe:', dataFrame.c.value_counts(dropna=False))
print('Unique values in the d column of the dataframe:', dataFrame.d.value_counts(dropna=False))

Unique values in the dataframe: a    3
b    3
c    2
d    4
dtype: int64
Unique values in the a column of the dataframe: 9    3
7    1
8    1
Name: a, dtype: int64
Unique values in the b column of the dataframe: 6    2
8    2
5    1
Name: b, dtype: int64
Unique values in the c column of the dataframe: 6    3
5    2
Name: c, dtype: int64
Unique values in the d column of the dataframe: 5    2
7    1
9    1
8    1
Name: d, dtype: int64